<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, url: @user.new_record? ? admin_users_path : admin_user_path(@user.id), local:true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email%>
  <%= f.email_field :email %>
  <%= f.label :admin , "権限"%>
  <%= f.select :admin, [["一般", false],['管理者',true]] %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <% if action_name == "new" %>
    <%= f.submit "アカウント作成"%>
  <% else%>
    <%= f.submit "アカウント修正"%>
  <% end %>
<% end%>